# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui

dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anomaliaTermicaSemIndex = pd.Series(data=dados)
anomaliaTermicaSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
indice = ['1900','1920','1940','1960','1980','2000','2020']
anomaliaTermicaSemIndex = pd.Series(data=dados, index=indice)
anomaliaTermicaSemIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

dic_temperaturasSeries = pd.Series(dic_temperaturas)
dic_temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
# Criar o ndarray
arr = np.random.normal(100, 10, (20, 3))
arr

array([[ 91.48194477, 101.5933097 ,  90.53111642],
       [ 96.19504334, 116.5398856 , 103.18831132],
       [113.76575191, 106.85872884, 102.30972287],
       [ 79.6415871 , 112.32525723,  89.92964046],
       [102.36464408,  97.86088308, 104.56137359],
       [102.13817764,  76.25283066, 101.21742642],
       [ 88.04230286,  97.20874494, 116.06090407],
       [110.61577067,  97.01532386, 108.82506732],
       [ 83.27574024,  92.24926225,  95.54446144],
       [ 97.31676577, 109.27474706, 101.96503493],
       [ 92.83538678, 115.88446247, 101.24184238],
       [112.37260792,  88.06559038, 101.32156859],
       [108.92972548, 105.03257245, 106.7701807 ],
       [117.00043274,  75.27620878,  98.23857882],
       [109.45716538, 102.16918326, 102.93688764],
       [106.30743785, 111.81383106,  90.54758017],
       [117.47016441,  85.67409346, 115.57252095],
       [102.99754971, 121.8786309 ,  90.47326677],
       [ 98.97806628,  93.17477354,  96.9545018 ],
       [ 94.52787617, 102.36350503, 115.13631188]])

In [8]:
data_df = pd.DataFrame(arr)
print(data_df)

             0           1           2
0    91.481945  101.593310   90.531116
1    96.195043  116.539886  103.188311
2   113.765752  106.858729  102.309723
3    79.641587  112.325257   89.929640
4   102.364644   97.860883  104.561374
5   102.138178   76.252831  101.217426
6    88.042303   97.208745  116.060904
7   110.615771   97.015324  108.825067
8    83.275740   92.249262   95.544461
9    97.316766  109.274747  101.965035
10   92.835387  115.884462  101.241842
11  112.372608   88.065590  101.321569
12  108.929725  105.032572  106.770181
13  117.000433   75.276209   98.238579
14  109.457165  102.169183  102.936888
15  106.307438  111.813831   90.547580
16  117.470164   85.674093  115.572521
17  102.997550  121.878631   90.473267
18   98.978066   93.174774   96.954502
19   94.527876  102.363505  115.136312

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [11]:
data_df_index = pd.DataFrame(arr, index=range(1, 21), columns=['x1', 'x2', 'x3'])

In [12]:
data_df_index

            x1          x2          x3
1    91.481945  101.593310   90.531116
2    96.195043  116.539886  103.188311
3   113.765752  106.858729  102.309723
4    79.641587  112.325257   89.929640
5   102.364644   97.860883  104.561374
6   102.138178   76.252831  101.217426
7    88.042303   97.208745  116.060904
8   110.615771   97.015324  108.825067
9    83.275740   92.249262   95.544461
10   97.316766  109.274747  101.965035
11   92.835387  115.884462  101.241842
12  112.372608   88.065590  101.321569
13  108.929725  105.032572  106.770181
14  117.000433   75.276209   98.238579
15  109.457165  102.169183  102.936888
16  106.307438  111.813831   90.547580
17  117.470164   85.674093  115.572521
18  102.997550  121.878631   90.473267
19   98.978066   93.174774   96.954502
20   94.527876  102.363505  115.136312

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [14]:
# seu código aqui

data_df_index['media'] = df.mean(axis=1)
print(data_df_index)

            x1          x2          x3       media
1    91.481945  101.593310   90.531116   94.535457
2    96.195043  116.539886  103.188311  105.307747
3   113.765752  106.858729  102.309723  107.644735
4    79.641587  112.325257   89.929640   93.965495
5   102.364644   97.860883  104.561374  101.595634
6   102.138178   76.252831  101.217426   93.202812
7    88.042303   97.208745  116.060904  100.437317
8   110.615771   97.015324  108.825067  105.485387
9    83.275740   92.249262   95.544461   90.356488
10   97.316766  109.274747  101.965035  102.852183
11   92.835387  115.884462  101.241842  103.320564
12  112.372608   88.065590  101.321569  100.586589
13  108.929725  105.032572  106.770181  106.910826
14  117.000433   75.276209   98.238579   96.838407
15  109.457165  102.169183  102.936888  104.854412
16  106.307438  111.813831   90.547580  102.889616
17  117.470164   85.674093  115.572521  106.238926
18  102.997550  121.878631   90.473267  105.116482
19   98.978066   93.174774   96.954502   96.369114
20   94.527876  102.363505  115.136312  104.009231

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [16]:
data_df_index['log_med'] = np.log(df[['x1', 'x2', 'x3']].mean(axis=1))
print(data_df_index)

            x1          x2          x3       media   log_med
1    91.481945  101.593310   90.531116   94.535457  4.548975
2    96.195043  116.539886  103.188311  105.307747  4.656887
3   113.765752  106.858729  102.309723  107.644735  4.678836
4    79.641587  112.325257   89.929640   93.965495  4.542928
5   102.364644   97.860883  104.561374  101.595634  4.621001
6   102.138178   76.252831  101.217426   93.202812  4.534778
7    88.042303   97.208745  116.060904  100.437317  4.609534
8   110.615771   97.015324  108.825067  105.485387  4.658572
9    83.275740   92.249262   95.544461   90.356488  4.503763
10   97.316766  109.274747  101.965035  102.852183  4.633293
11   92.835387  115.884462  101.241842  103.320564  4.637836
12  112.372608   88.065590  101.321569  100.586589  4.611019
13  108.929725  105.032572  106.770181  106.910826  4.671995
14  117.000433   75.276209   98.238579   96.838407  4.573044
15  109.457165  102.169183  102.936888  104.854412  4.652573
16  106.307438  111.813831   90.547580  102.889616  4.633657
17  117.470164   85.674093  115.572521  106.238926  4.665691
18  102.997550  121.878631   90.473267  105.116482  4.655069
19   98.978066   93.174774   96.954502   96.369114  4.568186
20   94.527876  102.363505  115.136312  104.009231  4.644480